<%- include("partials/header") %>
<body>
    <div class="table-container">
        <h2 class="todo-title">Todo List</h2>
        <div class="">
            <a href="/add-todo" class="btn">Add Todo</a>
        </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Create at</th>
                <th>Update at</th>
                <th>Action</th>
            </tr>
            <tr>
                <% for(let i = 0 ; i < todos.length ; i++) { %>
                <th><%=todos[i].title %></th>
                <th><%=todos[i].desc %></th>
                <th><%= moment(todos[i].createdAt).format("MMM DD , YYYY,HH:mm:ss") %></th>
                <th><%=  moment(todos[i].updatedAt).format("MMM DD , YYYY,HH:mm:ss") %></th>
                <td>
                    <a href="/update-todo?id=<%=todos[i]._id%>" class="btn">edit</a>
                    <a href="/delete-todo?id=<%=todos[i]._id%>" class="btn">delete</a>

                </td>
            </tr>
            <% } %>
        </table>



    </div>
<%- include("partials/footer") %>